In [1]:
from selenium import webdriver
import time

In [2]:
browser=webdriver.Chrome('C:\\Users\\Pavani Gangula\\Downloads\\chromedriver_win32\\chromedriver')

In [3]:
browser.get('https://www.flipkart.com/redmi-note-5-pro-black-64-gb/product-reviews/itmf2fc3xgmxnhpx?pid=MOBF28FTQPHUPX83')

In [4]:
reviews=[]
ratings=[]
name=[]
date=[]
title=[]
for i in range(10):
    review=[t.text for t in browser.find_elements_by_xpath("//div[@class='qwjRop']")]
    rating=[t.text for t in browser.find_elements_by_xpath("//div[@class='hGSR34 _2beYZw E_uFuv']")]
    names=[t.text for t in browser.find_elements_by_xpath("//p[@class='_3LYOAd _3sxSiS']")]
    dates=[t.text for t in browser.find_elements_by_xpath("//p[@class='_3LYOAd']")]
    titles=[t.text for t in browser.find_elements_by_xpath("//p[@class='_2xg6Ul']")]
    browser.find_element_by_xpath("//div[@class='_2kUstJ']").click()
    time.sleep(10)
    for i in range(len(review)):
        reviews.append(review[i])
        ratings.append(rating[i])
        name.append(names[i])
        date.append(dates[i])
        title.append(titles[i])

In [5]:
ratings=[]

rating=[t.text for t in browser.find_elements_by_xpath("//div[@class='hGSR34 _2beYZw E_uFuv']")]
for i in range(len(rating)):
    ratings.append(rating[i])

In [6]:
ratings

['', '', '', '', '', '', '', '', '', '']

In [7]:
ratings=[]

titles=[t.text for t in browser.find_elements_by_xpath("//p[@class='_2xg6Ul']")]
for i in range(len(titles)):
    ratings.append(titles[i])

In [8]:
browser=webdriver.Chrome('C:\\Users\\Pavani Gangula\\Downloads\\chromedriver_win32\\chromedriver')
browser.get('https://www.flipkart.com/redmi-note-5-pro-black-64-gb/product-reviews/itmf2fc3xgmxnhpx?page=2&pid=MOBF28FTQPHUPX83')

In [9]:
reviews=[]
review=[t.text for t in browser.find_elements_by_xpath("//div[@class='qwjRop']")]
for i in range(len(review)):
    reviews.append(review[i])

In [10]:
reviews

['superb phone‚ô•Ô∏èüëå‚úåÔ∏è',
 'Its very good phone and very good design and its a very giid funcation',
 'red color is awesome good quality',
 'superb mobile excellent cam',
 'The phone is quite good but there is a lot of trouble in ordering',
 'perfect camera',
 'Brilliant purchase',
 'Awsome',
 'Best phone on this yearüòç,,i love the camera, battery backup, 4gb ram, processeorüòé. please buy a real hd camera phone on this under 15k budgetü§ò',
 "it's awesome"]

In [11]:
review = pd.DataFrame(reviews)

In [12]:
review.to_csv('output.csv')

In [13]:
import os
os.getcwd()

'C:\\Users\\Pavani Gangula\\Downloads'

In [14]:
s = reviews[9]

In [15]:
s

"it's awesome"

In [16]:
#convert to unicode
teststring = unicode(s, 'utf-8')

#encode it with string escape
teststring = teststring.encode('unicode_escape')

NameError: name 'unicode' is not defined

In [17]:
import emoji

ModuleNotFoundError: No module named 'emoji'

In [109]:
def extract_emoji(str):
    return(' '.join(c for c in str if c in emoji.UNICODE_EMOJI))

In [119]:
x=extract_emoji(s)

In [129]:
for i in x:
    print(emoji.demojize(i)[1:])

nerd_face:

smiling_face_with_heart-eyes:

face_blowing_a_kiss:

In [128]:
emoji.demojize(x)

':nerd_face: :smiling_face_with_heart-eyes: :face_blowing_a_kiss:'

In [130]:
from vaderSentiment.vaderSentiment import SentimentIntensityAnalyzer
analyser = SentimentIntensityAnalyzer()

In [131]:
def sentiment_analyzer_scores(sentence):
    score = analyser.polarity_scores(sentence)
    print("{:-<40} {}".format(sentence, str(score)))

In [134]:
sentiment_analyzer_scores("nerd_face")
sentiment_analyzer_scores("smiling_face_with_heart-ey es")
sentiment_analyzer_scores("face_blowing_a_kiss")

nerd_face------------------------------- {'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound': 0.0}
smiling_face_with_heart-eyes------------ {'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound': 0.0}
face_blowing_a_kiss--------------------- {'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound': 0.0}

In [111]:
import re

In [112]:
re.findall(r'[^\w\s,]',s)

['ü§ì', 'üòç', 'üòò']

In [3]:
import pandas as pd
import numpy as np

In [4]:
data=pd.read_csv('C:\\Users\\Jakkula Thilak\\Documents\\project\\Overall data.csv')

In [5]:
data.head()

,Review Rating,Review Date,Reviewer Name,Review Title,Review Text,Verified Review
0,5,04-09-2018,Rupak Sarkar,Amazing features....,"This is nodoubt an effective & good set, but I...",Yes
1,2,04-09-2018,Parvej Alam,Saifi,Super,Yes
2,5,04-09-2018,Vivek dutta,Five Stars,Nice,Yes
3,5,04-09-2018,Srinivas,Mins,Good,Yes
4,5,04-09-2018,Dipshis chattaraj,Value for money,Nice,Yes

In [6]:
data.dtypes

Review Rating       int64
Review Date        object
Reviewer Name      object
Review Title       object
Review Text        object
Verified Review    object
dtype: object

In [7]:
review_data=data.groupby(by=['Review Rating'],axis=1)

In [8]:
data.columns

Index(['Review Rating', 'Review Date', 'Reviewer Name', 'Review Title',
       'Review Text', 'Verified Review'],
      dtype='object')

In [9]:
new=data.sort_values(by='Review Rating',axis=0,ascending=False)

In [10]:
new['Review Rating']=new['Review Rating'].astype('str')

In [11]:
new['Review Rating'].dtypes, new['Review Date'].dtypes

(dtype('O'), dtype('O'))

In [12]:
new.dtypes

Review Rating      object
Review Date        object
Reviewer Name      object
Review Title       object
Review Text        object
Verified Review    object
dtype: object

In [13]:
def unique(data,col):
    count=np.unique(data[col],return_counts=True)
    pro=[]
    L=count[1].sum()
    for i in range(len(count[1])):
        P=round(count[1][i]/L,2)
        pro.append(P)
    return(pro)

In [15]:
unique(new,'Review Rating')

[0.15, 0.04, 0.08, 0.22, 0.5]

In [18]:
from sklearn.model_selection import train_test_split

In [19]:
X=new['Review Rating']
X.head()

0        5
38215    5
38204    5
38205    5
38207    5
Name: Review Rating, dtype: object

In [20]:
Y=new[['Review Date','Reviewer Name','Review Title','Review Text']]
Y.head()

,Review Date,Reviewer Name,Review Title,Review Text
0,04-09-2018,Rupak Sarkar,Amazing features....,"This is nodoubt an effective & good set, but I..."
38215,18-09-2017,PREM SAHU,9753990200,Mo bhejo
38204,18-09-2017,Amit Kumar Giri,Nothing to say,Good phone
38205,18-09-2017,shabbir,jhamm phone h,osm phone battery is also osm
38207,18-09-2017,Joydip,Five Stars,Great feature and performance at this price ra...

In [21]:
train_x,test_x,train_y,test_y=train_test_split(X,Y,test_size=0.85,stratify=X)

In [22]:
train_y.head()

,Review Date,Reviewer Name,Review Title,Review Text
31380,15-10-2017,sohail khan,Five Stars,Osm mobile Mi 4
1670,16-07-2018,pritesh govindia,Five Stars,"Great phone for the price, not faced any major..."
21800,01-12-2017,Amazon Customer,Five Stars,Superb
58671,26-06-2017,Abhijit M.,Excellent smart phone with drawbacks,Redmi 4 is a very good smart phone no doubt.\n...
53467,18-07-2017,Amazon Customer,Five Stars,very good

In [90]:
Review_data=train_y

In [91]:
Review_data['Review Rating']=train_x

C:\Users\Jakkula Thilak\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [92]:
Review_data.head()

,Review Date,Reviewer Name,Review Title,Review Text,Review Rating
36227,26-09-2017,Amazon Customer,Slowwwww phone,Putting up reviews after 3 months of usage.\n3...,1
10012,01-03-2018,simhachalam,Good,Good,5
11984,12-02-2018,Achump,Five Stars,Nice,5
57094,30-06-2017,Amazon Customer,Only sale in 8500,One month old in white color want to shale it ...,4
40859,04-09-2017,Amazon Customer,Five Stars,Awesome handset with reliable price... Very go...,5

In [94]:
unique(Review_data,'Review Rating')

[0.15, 0.04, 0.08, 0.22, 0.5]

In [95]:
Review_data.to_csv('Review_data.csv')

In [114]:
rating = Review_data['Review Rating']

In [1]:
rating.value_counts()

NameError: name 'rating' is not defined

In [118]:
train_y['Review Rating'].value_counts()/len(train_x)

5    0.504370
4    0.224772
1    0.147398
3    0.081148
2    0.042312
Name: Review Rating, dtype: float64

In [18]:
import pandas as pd
import numpy as np

In [19]:
reviews=pd.read_csv('C:\\PAVANI\\Capstone_Opinion Mining\\mi note 4 gold 64gb (1).csv')

In [20]:
reviews.head()

,Review Rating,Review Date,Reviewer Name,Review Title,Review Text,Verified Review
0,5,04-09-2018,Rupak Sarkar,Amazing features....,"This is nodoubt an effective & good set, but I...",Yes
1,2,04-09-2018,Parvej Alam,Saifi,Super,Yes
2,5,04-09-2018,Vivek dutta,Five Stars,Nice,Yes
3,5,04-09-2018,Srinivas,Mins,Good,Yes
4,5,04-09-2018,Dipshis chattaraj,Value for money,Nice,Yes

In [21]:
count=0
exclamatory=[]
for review in range(reviews.shape[0]):
    if '!' in reviews['Review Text'][review]:
        exclamatory.append(review)
        count += 1

In [22]:
Exclam=[]
for i in exclamatory:
    Exclam.append(reviews.iloc[i,:])

In [23]:
Excla=pd.DataFrame(Exclam)

In [24]:
Excla.head()

,Review Rating,Review Date,Reviewer Name,Review Title,Review Text,Verified Review
587,5,17-08-2018,Shashi,THE BEST PHONE EVER,"Clearly, it is the best phone in its price ran...",Yes
748,4,13-08-2018,Arpan,Bang the budget segment under 7k,Review in a nutshell - Powerful device if you ...,Yes
821,5,11-08-2018,shashank,Great product by MI,"Awesome product by MI even after 1 year use, i...",Yes
991,5,06-08-2018,sss,Five Stars,"Best, Go for it !!",Yes
1066,5,04-08-2018,Soumyadeep Deb,Good phone,It's a good peice of technology by Mi!\nGood p...,Yes

In [25]:
Excla.to_csv('Exclamatory Reviews.csv')

In [26]:
import string

In [27]:
punctuations=string.punctuation

In [28]:
Excla['Review Text'][587].find('!')

112

In [29]:
count=[]
for reviews in Excla['Review Text']:
    counts=0
    for review in reviews:
        if review == '!':
            counts += 1
    count.append(counts)

In [30]:
Excla['Count']=count

In [31]:
Data_1=Excla.drop(['Review Date','Reviewer Name','Review Title','Verified Review'],axis=1)

In [32]:
len(exclamatory)

1705

In [33]:
Data_1['Index']=exclamatory

In [34]:
import os

In [35]:
os.getcwd()

'C:\\Users\\Pavani Gangula\\Downloads'

In [36]:
Data_1.to_csv('Exclamatory Reviews.csv')

In [37]:
Data_1.head()

,Review Rating,Review Text,Count,Index
587,5,"Clearly, it is the best phone in its price ran...",4,587
748,4,Review in a nutshell - Powerful device if you ...,1,748
821,5,"Awesome product by MI even after 1 year use, i...",1,821
991,5,"Best, Go for it !!",2,991
1066,5,It's a good peice of technology by Mi!\nGood p...,2,1066

In [38]:
rev=Data_1['Review Text']

In [40]:
Data_1['Review Text'][1066]

"It's a good peice of technology by Mi!\nGood picture quality and overall really nice at this price range!"

In [41]:
Sentence=rev[587]

In [42]:
sen=pd.Series(Sentence)

In [43]:
type(sen)

pandas.core.series.Series

In [44]:
import string

In [45]:
Punctuations=string.punctuation

In [46]:
from nltk.stem import PorterStemmer
from nltk.corpus import stopwords

In [47]:
st = PorterStemmer()
stop = stopwords.words('english')

In [48]:
def pre_processing(Data):
    Data = Data.apply(lambda x: " ".join(x.lower() for x in x.split())) #Convering to lower cases
    Data = Data.str.replace('[^\w\s]','') #Removing punctuations
    Data = Data.apply(lambda x: " ".join(x for x in x.split() if x not in stop)) # Removing stopwords
    Data = Data.apply(lambda x: " ".join([st.stem(word) for word in x.split()])) #Apply stemming
    return(Data)

In [49]:
data=pre_processing(Data_1['Review Text'])

In [50]:
Data_2=Data_1.copy()

In [51]:
Data_2['Review Text']=data

In [52]:
Data_2['Review Text'][587]

'clearli best phone price rang also beat varieti phone higher price rang kudo xiaomi'

In [53]:
Data_1['Review Text'][587]

'Clearly, it is the best phone in its price range and also beats the variety of phones in higher price ranges too!! Kudos Xiaomi!!'

In [54]:
tf1 = (Data_2['Review Text']).apply(lambda x: pd.value_counts(x.split(" "))).sum(axis = 0).reset_index()

In [55]:
tf1.columns=['word','tf']

In [56]:
tf1.shape

(4395, 2)

In [57]:
from sklearn.feature_extraction.text import TfidfTransformer
from sklearn.feature_extraction.text import CountVectorizer

In [58]:
count_vect = CountVectorizer()
X_train_counts = count_vect.fit_transform(Data_2['Review Text'])
X_train_counts.shape

(1705, 4367)

In [59]:
pd.DataFrame(X_train_counts.todense())

,0,1,2,3,4,5,6,7,8,9,...,4357,4358,4359,4360,4361,4362,4363,4364,4365,4366
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
5,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
6,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
7,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
8,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
9,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
10,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
11,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
12,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
13,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
14,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
15,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
16,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
17,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
18,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
19,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
20,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
21,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
22,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
23,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
24,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
25,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
26,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
27,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
28,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
29,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1675,0,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1676,0,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1677,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1678,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1679,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1680,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1681,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1682,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1683,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1684,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1685,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1686,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1687,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1688,0,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1689,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1690,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1691,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1692,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1693,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1694,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1695,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1696,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1697,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1698,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1699,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1700,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1701,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1702,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1703,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1704,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [60]:
tfidf_transformer = TfidfTransformer()
X_train_tfidf = tfidf_transformer.fit_transform()
X_train_tfidf.shape

TypeError: fit_transform() missing 1 required positional argument: 'X'