In [23]:
german_credit_data =pd.read_table('https://archive.ics.uci.edu/ml/machine-learning-databases/statlog/german/german.data',sep = "\s+",header = None )

In [24]:
german_credit_data.head()

,0,1,2,3,4,5,6,7,8,9,...,11,12,13,14,15,16,17,18,19,20
0,A11,6,A34,A43,1169,A65,A75,4,A93,A101,...,A121,67,A143,A152,2,A173,1,A192,A201,1
1,A12,48,A32,A43,5951,A61,A73,2,A92,A101,...,A121,22,A143,A152,1,A173,1,A191,A201,2
2,A14,12,A34,A46,2096,A61,A74,2,A93,A101,...,A121,49,A143,A152,1,A172,2,A191,A201,1
3,A11,42,A32,A42,7882,A61,A74,2,A93,A103,...,A122,45,A143,A153,1,A173,2,A191,A201,1
4,A11,24,A33,A40,4870,A61,A73,3,A93,A101,...,A124,53,A143,A153,2,A173,2,A191,A201,2

In [27]:
from sklearn.metrics import confusion_matrix
def new_cost(y, y_pred,**kargs):
    c_m = confusion_matrix(y,y_pred)
    cost_mat = np.array([[0,1],[5,0]])
    Cost = sum(sum(c_m*cost_mat))
    return Cost
from sklearn.metrics import make_scorer
C = make_scorer(score_func= new_cost, greater_is_better =False)

In [28]:
pred = np.random.binomial(n=1,p= 0.5, size=1000)
p = np.where(pred==0,1,2)
new_cost(german_credit_data.iloc[:,20],p)

1071

In [29]:
X,Y = german_credit_data.iloc[:,:19], german_credit_data.iloc[:,20]

In [31]:
X_dummy = pd.get_dummies(X)

In [33]:
from sklearn.preprocessing import MinMaxScaler
mm_scaler = MinMaxScaler()

In [34]:
X_dummy_scaled = mm_scaler.fit_transform(X_dummy)

In [35]:
from evolutionary_search import EvolutionaryAlgorithmSearchCV

In [37]:
from sklearn.svm import SVC
sv_classifier = SVC()

C:\ProgramData\Anaconda3\lib\importlib\_bootstrap.py:219: ImportWarning: can't resolve package from __spec__ or __package__, falling back on __name__ and __path__
  return f(*args, **kwds)

In [38]:
param_grid = {'C':[1,10,20,50,100],'kernal':['rbf','poly'],
             'gamma':[0.001,0.01,0.1,10,100],
             'degree':[1,2,3]}

In [39]:
best_svc=EvolutionaryAlgorithmSearchCV(estimator = sv_classifier, params = param_grid,
                                      scoring = C, cv = 5, n_jobs = 4)

In [ ]:
best_svc.fit(X=X_dummy_scaled, y=Y)

C:\ProgramData\Anaconda3\lib\site-packages\evolutionary_search\cv.py:399: UserWarning: Windows requires Pools to be declared from within an 'if __name__=="__main__":' structure. In this case, n_jobs will accept map functions as well to facilitate custom parallelism. Please check to see that all code is working as expected.
  warnings.warn(("Windows requires Pools to be declared from within "